@model DivisionsViewModel

<div class="jumbotron jumbotron-outline">
    <h3>Create Division</h3>
    <form asp-action="CreateDivision" method="POST">
        <h4 class="text-left">Division</h4>
        <input class="form-control" type="text" placeholder="New Division Name" name="Division">
        <h4 class="text-left">Manager</h4>
        <select class="form-control" name="Manager">
            <option disabled selected> -- Select A New Manager -- </option>
            @foreach(var employee in Model.Employees)
            {
                <option>@employee.Email</option>
                //<option>@employee.Id</option>
                Console.WriteLine(Model.Employees.Count());
            }
        </select>
        <button type="submit" class="btn btn-info btn-divisions">Create Division</button>
    </form>
</div>
