@model TimeSheetViewModel

<h4>Clocked in at: @Model.Items.Enter</h4>

@await Html.PartialAsync("../Shared/_Clock.cshtml")

<style>
    h1 {
        padding-top: 2rem;
    }
</style>
<h1>
    You have been clocked in! Welcome to the workday.
</h1>