<style>

</style>

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">---Pay period dates here.---</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Clock in</th>
                    <th scope="col">Clock out</th>
                    <th scope="col">Hours worked</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Gross</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9/12/2019</td>
                    <td>8:30 AM</td>
                    <td>4:30 PM</td>
                    <td>8</td>
                    <td>$16.00</td>
                    <td>$128.00</td>
                </tr>
                <tr>
                    <td>9/13/2019</td>
                    <td>8:30 AM</td>
                    <td>4:30 PM</td>
                    <td>8</td>
                    <td>$16.00</td>
                    <td>$128.00</td>
                </tr>
                <tr>
                    <td>9/14/2019</td>
                    <td>8:30 AM</td>
                    <td>4:30 PM</td>
                    <td>8</td>
                    <td>$16.00</td>
                    <td>$128.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>