@model CurrentClockInViewModel

<h4>Clocked in at: @Model.Item.Enter</h4>
<h5>Time worked: @{ @DateTime.Now.Subtract(@Model.Item.Enter).ToString(@"hh\:mm\:ss"); }</h5>
@await Html.PartialAsync("./_Clock.cshtml")

<style>
    h1 {
        padding-top: 2rem;
    }
</style>
<h1>
    You have been clocked in! Welcome to the workday.
</h1>