@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<EmployeeModel> SignInManager
@inject UserManager<EmployeeModel> UserManager

<ul class="text-center">
@if (SignInManager.IsSignedIn(User))
{
    @await Html.PartialAsync("../Employee/_Clock.cshtml")
}
else
{
    <div>
        <h1 class="display-4">Welcome</h1>
        <p>Please login to continue.</p>
    </div>
}
</ul>