@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @await Html.PartialAsync("../Shared/_Clock.cshtml")
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please login to continue.</p>
    </div>
}
</ul>