/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
  }
  
  header {
    background-color:rgb(86, 102, 173) !important;
    height: 150px;
  }
  
  .nav-link {
    color: rgb(224, 224, 224);
  }
  
  
  body {
    color: rgb(224, 224, 224);
    background-color: rgb(121, 141, 228);
  }
  
  .navbar-brand {
    color: rgb(224, 224, 224);
  }

  .jumbotron {
    margin-top: 3rem;
    background-color: rgb(86, 102, 173);
  }
  .table-striped tbody tr:nth-of-type(odd){
      background-color: rgba(0, 0, 0, 0.2);
  }

  .table-striped {
      color: rgb(224, 224, 224);
  }

