@model DivisionsViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Divisions</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Division</th>
                    <th scope="col">Manager</th>
                </tr>
            </thead>
            <tbody>
                @{var col = Model.Divisions.Zip(Model.Managers, (x, y) => new {X = x, Y = y});}
                @foreach(var item in col)
                {
                    <tr>
                        <td>@item.X.Division</td>
                        <td>@item.Y.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>