<style>
  .jumbotron-outline {
    border: 1px solid rgb(224, 224, 224);
    padding: 2rem 3rem;
  }
</style>

<div class="jumbotron">
    <div class="jumbotron jumbotron-outline">
        <div class="container">
            <div class="row">
                <div class="col-2 text-left">
                    Employee Name
                </div>
                <div class="col-10 text-right">
                    Check #
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-left">
                    Street Address
                </div>
                <div class="col-10 text-right">
                    Date
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-left">
                    City, State, ZIP
                </div>
                <div class="col-10">

                </div>
            </div>
            <div class="row">
                <div class="col-2 text-left">
                    Phone
                </div>
                <div class="col-10">

                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-8 text-left">
                    Pay to the order of
                </div>
                <div class="col-1 text-right">
                    $
                </div>
                <div class="col-3 text-left">
                    586.22
                </div>
            </div>
            <div class="row">
                <div class="col-9 text-left">
                    Five Hundred Eighty Six and 22/100
                </div>
                <div class="col-3 text-left">
                    Dollars
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-12 text-left">
                    Your Financial Institution
                </div>
            </div>
            <br/>
            <div class="row text-left">
                <div class="col-5">
                    For _________________________________________________
                </div>
                <div class="2">

                </div>
                <div class="col-5 text-right">
                    Signature ___________________________________________
                </div>
            </div>
        </div>
    <div>
</div>